<div class="container-fluid">
  <div class="row main-section">
      <div class="col-sm-7 mt-5">
        <h1 class="mat-display-1">BE THE INFLUENCER YOU WANT TO BE </h1>

        <p> Bloggerz is Facebook page management tool that help you manage
            your social portrait and get you in touch with more buisiness
            oppourtunities
        </p>
      </div>
      <!-- Hook input  -->
      <div class="col-sm-5 mt-5">
          <input class="form-control" type="text" placeholder="http://"> <br>
          <small class="help-tip"> Enter your blog link and create your customized profile </small>
      </div>

  </div>



        <div class="row">
          <div class="col-sm">
              <div class="app-presentation">
                <img src="../../assets/images/logo-asfer.png">
              <h4> Product Reviews offers </h4>
              <p>
              Find product review offers & other business
              oppourtunities for bloggers, vloggers &
              influencers
            </p>
            </div>
          </div>
          <div class="col-sm">
              <div class="app-presentation">
                  <img src="../../assets/images/bar-chart.png">
                <h4> Easy insights visualization </h4>
              <p>
                Choose your own personalized and explained
                metrics and adapt your post to meet with your
                fan base needs
              </p>
                </div>
          </div>
          <div class="col-sm">
              <div class="app-presentation">
                  <img src="../../assets/images/influencer.png">
                <h4> Simplified content management  </h4>
                <p>
                Keep yourself updated with the hot and viral
                topics on the internet and schedule posts
                easily.
              </p>
                </div>
          </div>
        </div>
        <!-- Digital den services description -->
        <div class="row">
          <!-- Review offers -->
          <section class="product-review">
            <div class="text-description">
                <h2> Product review offers </h2>
                <p>
                  The product reviews section allows you to get in contact with business owners and get
                  business oppourtunities.
                </p>
                <ul>
                  <li> Personnalized social media inluence report that distinguish your of others bloggers </li>
                  <li> Create your own job offer and find the best bloggers, designers, marketers  </li>
                  <li> Create an alert once a new job offer is posted and matches your needs  </li>
                </ul>
            </div>
            <video controls src="../../assets/video/demonstration.mp4"></video>
          </section>
          <br>
          <!-- Insight visualization -->
          <section>
              <div class="text-description">
                  <h2> Insight visualization </h2>
                  <p> Digital Den application allows you to personnalize your insight visualization and compare between
                    two date ranges.
                  </p>
                  <ul>
                    <li> Choose freely the metrics you want to survey and let us to the work for you</li>
                    <li> Mesure your performance by comparing page performance between two date ranges</li>
                    <li> We will give you feedback about the content you are sharing and its affect on your fanbase</li>
                  </ul>
              </div>
          </section>

          <!-- Simplified content management -->
          <section>
              <div class="text-description">
                  <h2> Content management </h2>
                  <p> Schedule and reschedule posts to boost boost your social media impact.  </p>
                  <ul>
                    <li> Create posts easily and post them right away or schedule them to one or multiple page </li>
                    <li> Select the best posts you ever and reschedule them to double your impact </li>
                    <li> See the performance of your recent posts</li>
                  </ul>
              </div>
          </section>
        </div>
        <div class="row footer">
            Copyright digital den
        </div>

</div>
