
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <mat-form-field>
          <mat-select  placeholder="Metrics" ngModel required #metrics="ngModel" name="metrics" id="metrics" multiple>
            <mat-option *ngFor="let metric of metricsList" [value]="metric">{{metric}}</mat-option>
          </mat-select>
         </mat-form-field>

         <mat-form-field>
            <mat-select  placeholder="Period" ngModel required #period="ngModel" name="period" id="period">
              <mat-option  *ngFor="let x of periods" [value]="x">
                {{x}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button> Update </button>
   

</form>
