<div class="col-md-6 offset-md-3">
    <h1 name="message">{{message}} </h1>


    <form name="offer" [formGroup]="offer">
        <!-- title -->
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input formControlName="title" type="text" class="form-control" id="title" placeholder="Job offer title">
            </div>
        </div>
        <!-- description -->
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea formControlName="description" class="form-control" id="description" placeholder="Describe your offer in a few words !">

                </textarea>
            </div>
        </div>
        <!-- Bounty Type -->
        <div class="form-group row">
                <label for="bountyType" class="col-sm-2 col-form-label"> Bounty Type </label>
                <div class="col-sm-10">
                    <select formControlName="bountytype"  class="form-control" id="type" required="false">
                        <option> Not paid </option>
                        <option> Material bounty </option>
                        <option> Blogger sponsorship </option>
                        <option> Financial Bounty </option>
                        <option> Other </option>
                    </select>
                </div>
            </div>

        <!-- Bounty -->
        <div class="form-group row">
            <label for="bountyType" class="col-sm-2 col-form-label"> Bounty </label>
            <div class="col-sm-10">
                <textarea formControlName="bounty" class="form-control" id="description" placeholder="Describe your offer in a few words !">

                </textarea>
            </div>
        </div>
        <!-- Type -->
        <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label"> Type </label>
                <div class="col-sm-10">
                    <select formControlName="type"  class="form-control" id="type" required="false">
                        <option> Product Review </option>
                        <option> Blogging oppourtunity </option>
                        <option> Sponsored blogging </option>
                        <option> Partnership offer </option>
                        <option> Other </option>
                    </select>
                </div>
            </div>

        <!-- Category -->
        <div class="form-group row">
                <label for="category" class="col-sm-2 col-form-label"> Category </label>
                <div class="col-sm-10">
                    <select  formControlName="category" class="form-control" id="category" required="false">
                        <option> Cars  </option>
                        <option> Fashion </option>
                        <option> Music </option>
                        <option> Beauty </option>
                        <option> High tech </option>
                    </select>
                </div>
            </div>
        <!-- Criteria -->
        <div class="form-group row">
                <label for="criteria" class="col-sm-2 col-form-label">Criteria</label>
                <div class="col-sm-10">
                    <textarea formControlName="criteria" class="form-control" name="criteria"> </textarea>
                </div>
            </div>

        <!-- Criteria -->
        <div class="form-group row">
            <label for="expiryDate" class="col-sm-2 col-form-label">expiry Date</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" formControlName="expirydate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <img src="../../../assets/images/calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                      </button>
                    </div>
                  </div>
            </div>
        </div>


        <!-- Tags -->
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">tags</label>
            <div class="col-sm-10">
                <textarea formControlName="tags" class="form-control" name="tags" formControlName="tags"> </textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" (click)="getFormData()" class="btn btn-primary"> Submit </button>
            </div>
        </div>
    </form>
</div>
