<div class="container-fluid">
    <div class="row">
        <div  class="col-md-3 offset-md-4 loginDIV">
            <div>
                <h6> Login with Facebook it's easy </h6>
                <a href="#" (click)="signInWithFB($event)" class="facebook-button"> Connect with Facebook </a>
                <br>
                <hr>
                <small> OR </small>
                <br>
            </div>
            <form [formGroup]="loginForm" name="loginForm">
                <div>
                    <div *ngIf="errorMessage" class="alert alert-danger"> {{ errorMessage }}</div> 
                    <div class="form-group">
                        <input formControlName="email" type="text" placeholder="email" class="form-control">
                        <br>
                        <input type="password" formControlName="password" placeholder="password" class="form-control">
                        <input (click)="signInWithCredentials()" type="submit" value="Let's go" class="btn btn-outline-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>