
.main-section{
  color: white;
  background-color: #2196F3 ;
  height: 60vh;
  font-family: Roboto;
  padding-left: 1rem;
  padding-top: 3rem;
}

.main-section h1 {
  margin-bottom: 1rem;
}

.main-section input{
  width: 50%;
  height: 3rem;
  margin-top: -1%;
}

.help-tip{
    margin-top: 0;
    font-weight: 100;
}

.main-section p {
  font-weight: 200;
  font-size: 1.2rem ;
  text-justify: auto;
  width: 63%;
}

.app-presentation{
  margin-top: 2rem;
}

.app-presentation h4{
  margin-top: 1px;
  font-weight: 100;
  text-align: center;
}

.app-presentation p{
  font-size: 1rem;
  text-align: center;
  width: 60%;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
}

.app-presentation img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 7rem;
}


/** product review section **/
.product-review{
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  display: block;
}

.text-description h2 {
  color: #2196F3
}

.product-review video {
  float: right;
  width: 40%;

}

.text-description {
  float: left;
  width:60%;
}

.footer{
  height: 7rem;
  background-color: #2196F3;
  font-weight: 400;
  color: white;
}
