.main{
  background-color: #2196f3;
}

.main .btn:hover{
  background-color: white;
  color: #2196f3 !important;
  border: #2196f3 !important;
}

.main img {
  margin-left: 1rem;
  margin-top: 1rem;
}

