<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <p>Choose a date range </p>
    <ngbd-datepicker-range  (sendDateRange)="getDate($event)"></ngbd-datepicker-range>
  </div>
</ng-template>

<input style="width:120%" style="margin-left:20px;float:right" value="from: {{ fromDate }} to {{ toDate }}" type="text" value="" class="btn btn-outline-primary mb-1" (click)="openVerticallyCentered(content)" placeholder="select date range"/>
