.facebook-button{
    background-color: #2196f3;
    display: block;
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 10px ;
    padding-bottom: 10px;
    font-style: none;
    text-decoration: none;
}

.facebook-button:hover{
    background-color: #1478ca;
}

.btn.btn-outline-success{
    margin-top: 5px;
}

.form-control{
    margin-bottom: 5px;
}



.signup-form{
  margin-top: 5rem;
}


.welcoming-message h4{
    color: #2196f3;
    font-weight: 400;
    text-align: center;
    margin-block-end: 4rem;
}

.welcoming-message h6{
  font-weight: 200;
  margin-bottom: 1rem;
}


.blue{
  color: #2196f3;
  border-color: #1478ca;
}

.blue:hover{
  background-color: #2196f3;
  color: white;
}

.confirmation-step > input{
    margin-bottom: 1rem !important;
}

.confirmation-step > input[type="radio"]{
  margin-right: 2rem;
  font-weight: 700;
}


.welcoming-message span{
  font-weight: 200;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  color: #4d4d4d;
}

.btn-group > .btn{
  width: 12.5rem !important;
  background-color: white;
  color: #2196f3;
  border-color: #2196f3;
}

.btn-group > .btn.active{
  width: 12.5rem !important;
  background-color: #2196f3;
  color: white;
  border-color: #2196f3;
}

.signupDIV{
  margin-left: auto;
  margin-right: auto;
}