<div class="container-fluid">
    <div class="row signup-form">
        <div class="col-md-3 offset-md-4 signupDIV">
            <div [hidden]="step!=1" class="welcoming-message">
                <h4> HOORAY !! WE ARE HAPPY YOUR ARE JOINING US  </h4>
                <h6> Login with Facebook it's easy </h6>
                <a href="#" (click)="signupByFacebook($event)" class="facebook-button"> <img width="30px;" src="../../assets/images/facebook-icon.png"/>  Connect with Facebook </a>
                <br>
                <span class="or-wrapper">
                  <span class="or-text"> _________ or _________ </span>
                </span>

            </div>
            <form name="singupform">
                <div [hidden]="step!=1">
                    <div class="form-group">
                        <input type="text" placeholder="email" class="form-control">
                        <br>
                        <input type="password" placeholder="password" class="form-control">
                        <div class="form-group form-check">
                            <input checked type="checkbox" class="form-check-input" id="term-of-service">
                            <label class="form-check-label" for="term-of-service">By continuing you agree to Digital Den's <a href="#">Term of service</a></label>
                        </div>
                        <input type="submit" value="Let's go" class="btn btn-outline-success blue">

                    </div>
                </div>
            </form>
            <div  [hidden]="step!=2">
                <form class="form-group confirmation-step" name="info"  #form="ngForm" (ngSubmit)="getUserInformation(form)">
                  <h4> It's finally over </h4>
                  <p> Choose a password that will allow you to connect to your account easily. </p>


                    <input [(ngModel)]="email" name="email" type="email" placeholder="email" class="form-control">
                    <input [(ngModel)]="displayName" name="name" type="text" placeholder="name" class="form-control">
                    <input [ngModel]="password" name="password" type="password" placeholder="password" class="form-control">
                    <input [ngModel]="passwordConfirmation" type="password" name="password_confirmation" placeholder="confirm password" class="form-control">
                    <input type="submit" value="Let's go" class="btn btn-outline-success blue">
                </form>
            </div>


                <div [hidden]="step!=3">
                    <h1> Thank you </h1>
                    <p>
                        An email has been sent with a validation link <br>
                        please validate your account and profit of the full experience.
                    </p>
                </div>


        </div>
    </div>
</div>
